html, body {
    background-color: #e12761;
}
#voitureSvg {
    float: left;
    width: 50px;
}
/* MAIN MENU */
.navbar {
    background-color: #1e2761;
    height: 80px;
    z-index: 1;
}
#logo {
    width: 300px;
    position: relative;
    top: 35px;
    border-radius: 15px;
}
a.nav-link {
    background-color: #1e2761 !important;
    border-radius: 15px;
    margin-right: 24px;
    position: relative;
    top: 38px;
    padding: 8px 36px !important;
    background-color: black;
    transition: all .3s;
    font-family:  Montserrat;
    color: #FFF;
    text-align: center;
    transition: all .6s;
}
a.nav-link:hover {
    border-top: 4px solid #408ec6;
    border-bottom: 4px solid #408ec6;
    background-color: #e12761 !important;
    color: #fff !important;
    transition: all .6s;

}
.navbar-toggler-icon {
    background-color: #fff;
    border-radius:40%;
    position: relative;
    height: 30px;
    border: 4x solid #408ec6;
    z-index: 1;
}

.show > .navbar-nav {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: #1e2761;
    transition: all .6s;
}
.navbar-nav a {
    background-color: #FFF;
}
.show.navbar-nav > .nav-link {
    /* width: 100px; */
}
div.navbar-nav.mr-auto.open {
    padding-top: 20%;
}
div.navbar-nav.mr-auto.open > .nav-link {
    width: 300px;
    margin: 0 auto;
    position: relative;
    margin-top: 28px;
}
div.navbar-nav.mr-auto.open > .nav-link:hover {
    width: 300px;
    margin: 0 auto;
    position: relative;
    margin-top: 28px;
    background-color: wheat;
}




/* SECTION VEHICULES */
.vhls {
    background-color: #1e2761 !important;
    margin-top: 80px;
    padding: 16px 0;
}

.card {
    margin-top: 24px !important
}
.card-img-top {
    background-size: cover;
}
