/* MAIN MENU */
.navbar {
    background-color: #1e2761;
    height: 80px;
}
#logo {
    width: 300px;
    position: relative;
    top: 35px;
    border-radius: 15px;
}
a.nav-link {
    background-color: #1e2761 !important;
    border-radius: 15px;
    margin-right: 24px;
    position: relative;
    top: 38px;
    padding: 8px 36px !important;
    background-color: black;
    transition: all .3s;
    font-family:  Montserrat;
    color: #FFF;
    text-align: center;
}
a.nav-link:hover {
    border-top: 4px solid #408ec6;
    background-color: #353ea7;
}
.navbar-toggler-icon {
    background-color: #fff;
    border-radius:40%;
    position: relative;
    height: 30px;
    border: 2px solid #408ec6;
}

/* MENU HAMBURGER */
.closebtn {
    font-size: 40px;
    position: absolute;
    top: 10px;
    right: 20%;
}
.navbar-collapse {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1e2761;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align: center;
}
.navbar--collapse a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;  
}






