{% extends "base.html.twig" %}

        {% block stylesheets %}
            <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.css">
            <link rel="stylesheet" href="{{ asset('css/app.css') }}">
        {% endblock %}

{% block body %}

 <div class="header">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto mr-auto">
            <a class="nav-link active" href="#">Accueil <span class="sr-only">(current)</span></a>
            <a class="nav-link" href="#">Voitures</a>
            <a class="nav-link" href="#">Motos</a>
            </div>
        </div>
    </nav>
  </div>


{% endblock %}